@charset "utf-8";

/* 以下Work1-1,2 */

.wrap1{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.item1{
    width: calc(90% / 3);
    height: 300px;
    background-color: blue;
    margin: 1%;
}
.wrap2{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.item2{
    width: calc(90% / 3);
    height: 300px;
    background-color: red;
    margin: 1%;
}

/* 以下Work1-3 */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    align-items: center;
    margin: 50px;
}
li{
    list-style: none;
    padding-right: 25px;
    padding-left: 25px;
    border-right: 1px solid #4c4c4c;
}
li:last-child{
    border: none;
}


/* 以下Work2 */
@media screen and ( max-width: 767px ){
    header{
        flex-direction: column;
        align-items: baseline;
        margin: 10px;
    }
    h1{
        font-size: 40px;
    }
    ul{
        flex-direction: column;
        align-items: baseline;
        margin: 10px;
        width: 90%;
    }
    li{
        list-style: none;
        font-size: 20px;
        padding: 10px;
        border-right: none;
        border-bottom: 1px solid #4c4c4c;
        width: 100%;
    }
   